.container
  .well
    form.form-horizontal(name="newRecipeForm")
      fieldset
        legend New User Information
        .form-group
          label.col-md-2.control-label(for="name") Name
          .col-md-10
            input.form-control(name="name", type="text", placeholder="Name", ng-model="name", required)
        .form-group
          label.col-md-2.control-label(for="style") Style
          .col-md-10
            input.form-control(name="style", type="text", placeholder="Style", ng-model="style", required)
        .form-group
          label.col-md-2.control-label(for="featured") Featured
          .col-md-10
            input.form-control(name="featured", type="text", placeholder="Featured", ng-model="featured", required)
        .form-group
          .col-md-10.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="create()", ng-disabled="newRecipeForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
