
.container(ng-app='app', fxlayout='column', fxlayoutalign='space-evenly stretch')
  form.form-horizontal(name="deleteRecipeForm")
    .pull-left(ng-controller="mvDeleteRecipeCtrl")
      button.btn.btn-primary(ng-click="delete(recipe._id)") Delete Recipe
  .well
    form.form-inline(name="newRecipeForm")
      h1 {{recipe.name}}
      fieldset
        .form-group
          label.col-md-2.control-label Style
          .col-md-10
            {{recipe.style.name}}
          label.col-md-3.control-label Efficiency
          .col-md-8
            {{recipe.efficiency}}%
        .form-group
          .col-md-12
            canvas#canvas(width='600' height='400')
        .form-group
          .panel.panel-primary
            .panel-heading.text-center Fermentables
            .panel-body
              div(ng-repeat='newFerm in recipe.fermentables') {{newFerm.amount}}{{newFerm.display_amount}} {{newFerm.name}}

          .panel.panel-primary
            .panel-heading.text-center Hops
            .panel-body
              div(ng-repeat='newHop in recipe.hops') {{newHop.time}} min: {{newHop.amount}}{{newHop.display_amount}} {{newHop.name}}
          .panel.panel-primary
            .panel-heading.text-center Yeasts
            .panel-body
              div(ng-repeat='newYeast in recipe.yeasts') {{newYeast.name}}