doctype
html
  head
    title BruHaus
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel='stylesheet', href='/vendor/nvd3/build/nv.d3.css')
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts