doctype
html
  head
    title brewbook
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/vendor/angular-material/angular-material.css')
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    link(rel='stylesheet', href='/vendor/angular-animate/angular-animate.css')
    link(rel='stylesheet', href='/vendor/angular-aria/angular-aria.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
  body(ng-app='app')
    include scripts
    include currentUser
    block main-content