.container
  form.navbar-form(ng-show="identity.isAuthenticated()")
    .row
      .col-md-6
        div(ng-include="'/partials/main/featured-recipes'")
      .col-md-6
        div(ng-include="'/partials/main/new-recipes'")
  form.navbar-form(ng-hide="identity.isAuthenticated()")
    .jumbotron(style = "text-align: center;")
      h2 Welcome to brewbook
      h3 The simple way to create and track your homebrew recipes, inventory and brew day logs.
      h4 This site is under development, please enjoy and play nice!
    .row
      .col-md-6
        div(ng-include="'/partials/account/signin'")