
.container(ng-app='app', ng-controller="mvInventoryCtrl", fxlayout='column', fxlayoutalign='space-evenly stretch')
  .well
    form.form-inline(name="inventoryForm")
      fieldset
        legend Inventory
        .form-group
            .panel.panel-primary
              .panel-heading.text-center Fermentables
              .panel-body
                input(ng-model='fermWeight', size="4")
                select(ng-model='fermUnit', ng-options='fermUnit as fermUnit.fermUnitName for fermUnit in fermUnitList')
                  option(value='') - unit -
                select(ng-model='fermentable', ng-options='fermentable as fermentable.fermentableName for fermentable in fermentableList')
                  option(value='') - Add Fermentable -
                md-button.md-icon-button(aria-label='Add' ng-click="addFermentable()")
                    md-icon.material-icons add
                  div(ng-repeat='newFerm in addedFermentables') {{newFerm.weight}}{{newFerm.unit}}  {{newFerm.name}}
                  md-button.md-icon-button(aria-label='Delete' ng-click="fermDelete(this)")
                    md-icon.material-icons delete

          .col-md-10
            .panel.panel-primary
              .panel-heading.text-center Hops
              .panel-body
                input(ng-model='hopWeight', size="4")
                select(ng-model='hopUnit', ng-options='hopUnit as hopUnit.hopUnitName for hopUnit in hopUnitList')
                  option(value='') - unit -
                select(ng-model='hop', ng-change="value = ''; updateHop()", ng-options='hop as hop.hopName for hop in hopList')
                  option(value='') - Add Hop -
                md-button.md-icon-button(aria-label='Add' ng-click="addHop()")
                    md-icon.material-icons add
                  div(ng-repeat='newHop in addedHops') {{newHop.name}}
                  md-button.md-icon-button(aria-label='Delete' ng-click="hopDelete(this)")
                    md-icon.material-icons delete
          .col-md-10
            .panel.panel-primary
              .panel-heading.text-center Yeasts
              .panel-body
                select(ng-model='yeast', ng-change="value = ''; updateYeast()", ng-options='yeast as yeast.yeastName for yeast in yeastList')
                  option(value='') - Add Yeast -
                md-button.md-icon-button(aria-label='Add' ng-click="addYeast()")
                    md-icon.material-icons add
                  div(ng-repeat='newYeast in addedYeasts') {{newYeast.name}}
                  md-button.md-icon-button(aria-label='Delete' ng-click="yeastDelete(this)")
                    md-icon.material-icons delete


    .form-group
      .col-md-10.col-md-offset-2
        .pull-right
          button.btn.btn-primary(ng-click="create()", ng-disabled="newRecipeForm.$invalid") Submit
          | &nbsp;
          a.btn.btn-default(href="/") Cancel
